<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>

    <!--mail settings-->
    <add key="EmailFrom" value="info@happychild.tech" />
    <add key="EmailPassword" value="Heini24oleg!" />
    <add key="EmailUserName" value="HappyChild Generation" />
    <add key="EmailHost" value="mail.hosting.reg.ru" />
    <add key="EmailPort" value="587" />
    <add key="EmailEnableSsl" value="true" />
    <add key="EmailAdminAddress" value="o.o.kolesnikov@gmail.com" />
    
    
    <add key="SiteToCheck" value="http://localhost:54890/" />
    <add key="HangFireConnectionString" value="data source=(localdb)\MSSQLLocalDB;Initial Catalog=HangfireChecker;Integrated Security=True;" />
  </appSettings>
</configuration>